*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    width: 100px;
}

.nav-link {
    background-color: red;
    color: #FFF;
    padding: 10px 30px;
    margin: 0.5rem;
}

.nav-link:hover {
    background-color: blueviolet;
}

nav {
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;

    }
    .nav-enlace{
        margin: 10px 0;
    } 
}
